
/* #region react-course-filter */
.react-course-filter {
    background: #F5F5F5
}

.react-course-filter.related__course {
    background: 0 0;
    padding-top: 90px
}

.react-course-filter.related__course h3 {
    font-weight: 700;
    color: #0F1216;
    font-size: 20px;
    padding-bottom: 10px
}

.react-course-filter.related__course .single-studies .inner-course {
    box-shadow: 0 1px 2px rgba(15, 18, 22, .1);
    border-radius: 6px;
    background: #fff
}

.react-course-filter .react-filter {
    padding-bottom: 65px
}

.react-course-filter .react-filter button {
    border: none;
    margin: 0 15px 0 0;
    color: #5B5F64;
    padding: 4px 30px 6px;
    border-radius: 6px;
    font-weight: 400;
    transition: all .5s ease 0s;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 14, 32, .1)
}

.react-course-filter .react-filter button.active, .react-course-filter .react-filter button:hover {
    background: #3270FC;
    color: #fff
}

.react-course-filter .react__title__section h2 {
    font-size: 44px;
    line-height: 56px;
    color: #0F1216
}

.react-course-filter .react__title__section h6 {
    font-size: 18px;
    color: #5B5F64;
    line-height: 22px;
    font-weight: 400;
    margin-top: 15px;
    display: block
}

.react-course-filter .single-studies {
    margin-bottom: 25px
}

.react-course-filter .single-studies .inner-course {
    background: #fff;
    border-radius: 10px
}

.react-course-filter .single-studies .inner-course .case-img {
    position: relative
}

.react-course-filter .single-studies .inner-course .case-img a {
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
    background: #3270fc;
    display: inline-block;
    padding: 4px 9px 7px;
    color: #fff;
    border-radius: 4px;
    position: absolute;
    left: 22px;
    top: 20px
}

.react-course-filter .single-studies .inner-course .case-content {
    padding: 30px 38px 20px 35px
}

.react-course-filter .single-studies .inner-course .case-content .case-title {
    margin: 6px 0 30px;
    font-size: 20px;
    font-weight: 600
}

.react-course-filter .single-studies .inner-course .case-content .case-title a {
    color: #0F1216
}

.react-course-filter .single-studies .inner-course .case-content .case-title a:hover {
    color: #3270FC
}

.react-course-filter .single-studies .inner-course .case-content .react__user {
    font-size: 16px;
    color: #5B5F64;
    font-weight: 400
}

.react-course-filter .single-studies .inner-course .case-content .react__user img {
    margin-left: 12px;
    height: 30px
}

.react-course-filter .single-studies .inner-course .case-content .react-ratings {
    border-top: 1px solid #eee;
    margin-top: 40px;
    padding-top: 14px;
    justify-content: space-between
}

.react-course-filter .single-studies .inner-course .case-content .react-ratings li:last-child {
    padding-right: 0
}

.react-course-filter .single-studies .inner-course .case-content .react-ratings li.price {
    color: #0F1216;
    font-size: 20px;
    font-weight: 600
}

.react-course-filter .single-studies .inner-course .case-content ul {
    display: flex
}

.react-course-filter .single-studies .inner-course .case-content ul li {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #5B5F64;
    font-weight: 400;
    padding-left: 30px
}

.react-course-filter .single-studies .inner-course .case-content ul li svg {
    margin-left: 10px;
    width: 20px
}

.react-course-filter .single-studies .inner-course .case-content ul li svg.feather-star {
    color: #FFA439
}
/* #endregion */

/* #region courses-grid-page */


.courses-grid-page .react-course-filter .single-studies .inner-course .case-content ul li svg {
    width: 16px;
    margin-left: 6px
}

.courses-grid-page .react-course-filter .single-studies .inner-course .case-content ul li svg.feather-clock {
    font-size: 16px
}

.courses-grid-page .react-course-filter .single-studies .inner-course .case-content ul li {
    font-size: 14px;
    color: #777
}

.courses-grid-page .react-course-filter .single-studies .inner-course .case-content .case-title {
    margin: 6px 0 15px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700
}

.courses-grid-page .react-course-filter .single-studies .inner-course .case-content .case-title a {
    color: #00306e
}

.courses-grid-page .react-course-filter .single-studies .inner-course .case-content .case-title a:hover {
    color: #3270fc
}

.courses-grid-page .react-course-filter .single-studies .inner-course .case-img a {
    left: 22px;
    right: auto;
    background: #d2093c
}

.courses-grid-page .react-course-filter .single-studies .inner-course .case-content .react-ratings {
    margin-top: 16px;
    padding-top: 12px
}

.courses-grid-page .react-course-filter .single-studies .inner-course .case-content .react-ratings li.react-book {
    font-size: 14px;
    color: #777
}

.courses-grid-page .react-course-filter .single-studies .inner-course .case-content .react-ratings li.react-book em {
    font-size: 14px;
    font-weight: 700;
    color: #e59818;
    font-style: normal
}

.courses-grid-page .react-course-filter .single-studies .inner-course .case-content .react-ratings li.react-book span {
    color: #e59818;
    margin: 0 2px
}

.courses-grid-page .react-course-filter .single-studies .inner-course .case-content .react-ratings li.price {
    color: #00306e;
    font-size: 14px;
    font-weight: 700
}

.courses-grid-page .react-course-filter .single-studies .inner-course .case-img a {
    font-size: 12px;
    line-height: 14px;
    font-weight: 500
}

.courses-grid-page .react-course-filter .single-studies .inner-course .case-img a img {
    position: relative;
    top: -2px
}
/* #endregion */

/* #region back-pagination */


.back-pagination {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center
}

.back-pagination li a {
    width: 40px;
    height: 40px;
    background: #FFF;
    box-shadow: 0 1px 2px rgba(15, 18, 22, .1);
    display: inline-block;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    border-radius: 50%;
    color: #5B5F64;
    margin: 0 5px
}

.back-pagination li a:hover {
    background: #3270FC;
    color: #fff
}

.back-pagination li a svg {
    width: 18px;
    position: relative;
    transition: all .5s ease 0s;
    top: -1px;
    transform: rotate(180deg)
}
/* #endregion */

/* #region course-single */

.course-single .react-breadcrumbs .breadcrumbs-wrap .breadcrumbs-inner .breadcrumbs-text {
    text-align: left
}

.course-single .react-breadcrumbs .breadcrumbs-wrap .breadcrumbs-inner .breadcrumbs-text .cate {
    background: #3270fc;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    border-radius: 4px;
    padding: 2px 10px 5px;
    line-height: 17px;
    margin-bottom: 12px
}

.course-single .user-section {
    display: flex;
    align-items: center;
    padding-bottom: 50px
}

.course-single .user-section li {
    padding-left: 40px;
    font-size: 16px;
    color: #fff;
    font-weight: 400
}

.course-single .user-section li svg {
    width: 18px;
    position: relative;
    top: -2px;
    margin-left: 4px
}

.course-single .user-section li.user {
    display: flex;
    align-items: center
}

.course-single .user-section li.user span {
    padding-right: 12px
}

.course-single .user-section li.user span img {
    width: 36px;
    border-radius: 50%
}

.react-courses__single-page .course-single-tab .nav.nav-tabs {
    padding: 0 0 1px;
    margin-top: 0;
    background: #F2F4F9;
    border-radius: 6px;
    margin-bottom: 50px;
    border: none
}

.react-courses__single-page .course-single-tab .nav.nav-tabs li a {
    border: none;
    color: #5B5F64;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    padding: 19px 25px;
    text-align: center;
    display: inline-block;
    margin: 10px 8px
}

.react-courses__single-page .course-single-tab .nav.nav-tabs li a.active, .react-courses__single-page .course-single-tab .nav.nav-tabs li a:hover {
    background: #fff;
    box-shadow: 0 6px 10px rgba(15, 18, 22, .1);
    border-radius: 6px;
    color: #0F1216
}

.react-courses__single-page .course-single-tab #back-tab-content h3 {
    font-size: 26px;
    color: #0F1216;
    font-weight: 600;
    margin: 0 0 20px
}

.react-courses__single-page .course-single-tab #back-tab-content p {
    font-size: 16px;
    color: #4b4b57
}

.react-courses__single-page .course-single-tab #back-tab-content .back-tag a {
    font-size: 16px;
    font-weight: 500;
    color: #737383
}

.react-courses__single-page .course-single-tab #back-tab-content .back-tag a:hover {
    color: #3270fc
}

.react-courses__single-page .course-single-tab #back-tab-content .back-tag svg {
    width: 18px;
    height: 18px;
    margin-right: 4px
}

.react-courses__single-page .course-single-tab #back-tab-content .back-objectives {
    background: #f7f7f8;
    overflow: hidden;
    padding: 40px;
    border-radius: 2px;
    margin-top: 50px;
    margin-bottom: 40px
}

.react-courses__single-page .course-single-tab #back-tab-content .back-objectives h3 {
    font-size: 20px;
    color: #00306e;
    font-weight: 800;
    margin: 0 0 20px
}

.react-courses__single-page .course-single-tab #back-tab-content .back-objectives li {
    float: left;
    width: 50%;
    font-size: 15px;
    font-weight: 600;
    color: #00306e;
    position: relative;
    padding-left: 42px;
    margin: 10px 0 17px;
    line-height: 1.3
}

.react-courses__single-page .course-single-tab #back-tab-content .back-objectives li:first-child {
    float: none;
    width: 100%;
    padding: 0
}

.react-courses__single-page .course-single-tab #back-tab-content .back-objectives li i {
    background: #3270fc;
    padding: 6px;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0
}

.react-courses__single-page .course-single-tab #back-tab-content .single-week {
    background: #f7f7f8;
    padding: 40px 40px 30px;
    border-radius: 6px;
    margin-bottom: 20px
}

.react-courses__single-page .course-single-tab #back-tab-content .single-week .week__top {
    display: flex;
    border-bottom: 1px solid rgba(2, 3, 52, .078);
    justify-content: space-between;
    font-size: 20px;
    font-weight: 800;
    padding-bottom: 10px;
    margin-bottom: 28px;
    color: #00306e
}

.react-courses__single-page .course-single-tab #back-tab-content .single-week .week__top li:last-child {
    color: #828287;
    font-weight: 700
}

.react-courses__single-page .course-single-tab #back-tab-content .single-week .course__title li {
    border-bottom: 1px solid rgba(2, 3, 52, .078);
    color: #4b4c57;
    padding: 12px 0;
    overflow: hidden
}

.react-courses__single-page .course-single-tab #back-tab-content .single-week .course__title li svg {
    width: 20px;
    height: 20px;
    margin-right: 7px;
    position: relative;
    top: -2px
}

.react-courses__single-page .course-single-tab #back-tab-content .single-week .course__title li em {
    font-style: normal;
    float: right
}

.react-courses__single-page .course-single-tab #back-tab-content .single-week .course__title li em svg {
    width: 17px;
    height: 17px;
    margin-right: 3px;
    position: relative;
    top: -2px
}

.react-courses__single-page .course-single-tab #back-tab-content .single-week .course__title li em.questions {
    background-color: rgba(248, 69, 45, .102);
    color: #f8452d;
    padding: 6px 10px;
    line-height: 1;
    border-radius: 6px;
    margin-left: 20px;
    font-weight: 500
}

.react-courses__single-page .course-single-tab #back-tab-content .single-week .course__title li b {
    font-weight: 700;
    color: #00306e
}

.react-courses__single-page .course-single-tab #back-tab-content .single-week .course__title li:last-child {
    border: none
}

.react-courses__single-page .course-single-tab #back-tab-content .skillbar-style2 {
    border: 1px solid rgba(0, 48, 110, .1);
    border-radius: 6px;
    padding: 40px
}

.react-courses__single-page .course-single-tab #back-tab-content .skillbar-style2 .skill_inners {
    display: flex;
    align-items: center;
    margin-bottom: 15px
}

.react-courses__single-page .course-single-tab #back-tab-content .skillbar-style2 .skill_inners span.skillbar-title {
    flex: 0 0 15%;
    color: #5B5F64;
    font-size: 14px
}

.react-courses__single-page .course-single-tab #back-tab-content .skillbar-style2 .skill_inners span {
    color: #5B5F64
}

.react-courses__single-page .course-single-tab #back-tab-content .skillbar-style2 .skillbars {
    position: relative;
    display: block;
    background: #E6E9F1;
    height: 10px;
    width: 100%;
    clear: both;
    margin: 0 20px 0 0;
    border-radius: 0
}

.react-courses__single-page .course-single-tab #back-tab-content .skillbar-style2 .skillbars .skillbar-bar {
    height: 10px;
    width: 0;
    background: #3270fc;
    display: block;
    margin: 0;
    position: relative;
    border-radius: 0
}

.react-courses__single-page .course-single-tab #back-tab-content .five__number {
    border: 1px solid rgba(0, 48, 110, .1);
    text-align: center;
    padding: 75px 50px;
    border-radius: 6px
}

.react-courses__single-page .course-single-tab #back-tab-content .five__number em {
    font-size: 50px;
    color: #0F1216;
    font-style: normal;
    line-height: 1.2;
    margin-bottom: 12px;
    font-weight: 700;
    display: block
}

.react-courses__single-page .course-single-tab #back-tab-content .five__number i {
    color: #ff9415;
    font-size: 14px
}

.react-courses__single-page .course-single-tab #back-tab-content .five__number h6 {
    color: #0F1216
}

.react-courses__single-page .course-single-tab #back-tab-content .post-author {
    display: flex;
    align-items: center;
    padding: 25px 40px 30px;
    overflow: hidden;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 48, 110, .1);
    border-radius: 6px
}

.react-courses__single-page .course-single-tab #back-tab-content .post-author .avatar {
    margin-left: 20px
}

.react-courses__single-page .course-single-tab #back-tab-content .post-author .avatar img {
    border-radius: 50%;
    width: 80px
}

.react-courses__single-page .course-single-tab #back-tab-content .post-author .info .back-ratings i {
    color: #ff9415;
    font-size: 14px
}

.react-courses__single-page .course-single-tab #back-tab-content .post-author .info .name {
    margin: 0;
    color: #0F1216;
    transition: all .5s ease 0s;
    font-size: 20px;
    font-weight: 600
}

.react-courses__single-page .course-single-tab #back-tab-content .post-author .info .name .designation {
    font-size: 16px;
    color: #5B5F64;
    margin: 0;
    font-weight: 400
}

.react-courses__single-page .course-single-tab #back-tab-content .post-author p {
    font-size: 16px;
    color: #4b4b57;
    margin: 0;
    line-height: 24px
}

.react-courses__single-page .course-single-tab #back-tab-content .post-author:hover .info .name {
    color: #3270fc
}

.react-courses__single-page .course-single-tab #back-tab-content .blog-form p {
    margin-top: -15px
}

.react-courses__single-page .course-single-tab #back-tab-content .blog-form form .back-ratings {
    padding-bottom: 25px;
    padding-top: 6px;
    line-height: 1
}

.react-courses__single-page .course-single-tab #back-tab-content .blog-form form .back-ratings i {
    font-size: 14px;
    color: #b8b9bf
}

.react-courses__single-page .course-single-tab #back-tab-content .blog-form form .back-ratings i:nth-child(1), .react-courses__single-page .course-single-tab #back-tab-content .blog-form form .back-ratings i:nth-child(2) {
    color: #ff9415
}

.react-courses__single-page .course-single-tab #back-tab-content .blog-form form input {
    width: 100%;
    height: 57px;
    padding: 10px 30px;
    background: #F2F4F9;
    outline: 0;
    border-radius: 6px;
    margin-bottom: 25px;
    border: 2px solid #F2F4F9
}

.react-courses__single-page .course-single-tab #back-tab-content .blog-form form input:focus {
    border: 2px solid #3270fc;
    background: 0 0
}

.react-courses__single-page .course-single-tab #back-tab-content .blog-form form textarea {
    width: 100%;
    height: 160px;
    padding: 22px 30px;
    background: #F2F4F9;
    outline: 0;
    border-radius: 6px;
    margin-bottom: 5px;
    position: relative;
    border: 2px solid #F2F4F9
}

.react-courses__single-page .course-single-tab #back-tab-content .blog-form form textarea:focus {
    border: 2px solid #3270fc;
    background: 0 0
}

.react-courses__single-page .course-single-tab #back-tab-content .blog-form form button {
    background: #3270FC;
    font-size: 16px;
    color: #fff;
    border-radius: 6px;
    padding: 14px 30px;
    display: inline-block;
    font-weight: 600;
    transition: all .5s ease 0s;
    border: none;
    outline: 0;
    box-shadow: none;
    cursor: pointer;
    margin-top: 25px
}

.react-courses__single-page .course-single-tab #back-tab-content .blog-form form button svg {
    width: 18px
}

.react-courses__single-page .course-single-tab #back-tab-content .blog-form form button:hover {
    color: #fff;
    background: #00306e
}

.react-courses__single-page .course-single-tab #back-tab-content .blog-form form .back-check-box {
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #55575c;
    font-size: 16px
}

.react-courses__single-page .course-single-tab #back-tab-content .blog-form form .back-check-box a {
    color: #1a152e
}

.react-courses__single-page .course-single-tab #back-tab-content .blog-form form .back-check-box a:hover {
    color: #74727d
}

.react-courses__single-page .course-single-tab #back-tab-content .blog-form form .back-check-box input {
    margin: 0 8px 0 0;
    height: 16px;
    width: 16px
}

.react-courses__single-page .course-single-tab #back-tab-content .blog-form form ::-webkit-input-placeholder {
    color: #7b7d82;
    opacity: 1;
    font-size: 16px
}

.react-courses__single-page .course-single-tab #back-tab-content .blog-form form ::-moz-placeholder {
    color: #7b7d82;
    opacity: 1;
    font-size: 16px
}

.react-courses__single-page .course-single-tab #back-tab-content .blog-form form :-ms-input-placeholder {
    color: #7b7d82;
    opacity: 1;
    font-size: 16px
}

.react-courses__single-page .course-single-tab #back-tab-content .blog-form form :-moz-placeholder {
    color: #7b7d82;
    opacity: 1;
    font-size: 16px
}

.react-courses__single-page .course-single-tab #back-tab-content .social-links h4 {
    font-size: 16px;
    font-weight: 800;
    margin: 0 0 26px
}

.react-courses__single-page .course-single-tab #back-tab-content .social-links li a {
    border-radius: 6px
}

.react-courses__single-page .course-single-tab #back-tab-content .social-links li:first-child {
    float: none;
    width: 100%;
    padding: 0;
    display: block
}

/* #endregion */

/* #region back__course__page_grid */


.back__course__page_grid .shorting__course {
    background: #fff;
    box-shadow: 0 1px 2px rgba(15, 18, 22, .1);
    border-radius: 6px;
    padding: 15px 20px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 50px
}

.back__course__page_grid .shorting__course .all__icons {
    display: flex;
    align-items: center;
    flex-wrap: wrap
}

.back__course__page_grid .shorting__course .all__icons svg {
    cursor: pointer;
    transform: rotate(90deg);
    position: relative;
    width: 18px;
    color: #3270FC;
    top: -2px
}

.back__course__page_grid .shorting__course .all__icons svg.feather-list {
    color: #5c5c68;
    width: 28px;
    height: 28px
}

.back__course__page_grid .shorting__course .all__icons .result-count {
    padding-left: 10px;
    color: #0F1216;
    font-size: 16px;
    font-weight: 400
}

.back__course__page_grid .shorting__course .from-control {
    background: #F2F4F9;
    border: none;
    padding: 12px 15px;
    border-radius: 6px;
    color: #5c5c68;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    border-left: 15px solid #F2F4F9;
    margin-right: 15px
}

.back__course__page_grid .shorting__course2 {
    background: 0 0;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px
}

.back__course__page_grid .shorting__course2 .col-md-6 {
    padding: 0
}

.back__course__page_grid .shorting__course2 .all__icons .result-count {
    padding-left: 10px;
    color: #5B5F64;
    font-size: 16px;
    font-weight: 400
}

.back__course__page_grid .shorting__course2 .from-control {
    background: 0 0;
    border: none;
    padding: 12px 15px;
    border-radius: 6px;
    color: #5B5F64;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    margin-left: 15px
}

.back__course__page_grid .shorting__courses3 {
    margin-left: 0;
    margin-right: 0;
    padding: 10px 0;
    border-radius: 6px;
    margin-bottom: 30px
}

.back__course__page_grid .shorting__courses3 .col-md-6 {
    padding: 0
}

.back__course__page_grid .shorting__courses3 .all__icons {
    display: flex;
    align-items: center;
    flex-wrap: wrap
}

.back__course__page_grid .shorting__courses3 .all__icons svg {
    cursor: pointer;
    position: relative;
    top: -2px
}

.back__course__page_grid .shorting__courses3 .all__icons .grid__icons {
    display: flex;
    align-items: center;
    border: 2px solid rgba(91, 95, 100, .1);
    border-radius: 6px;
    padding: 0 10px 0 0
}

.back__course__page_grid .shorting__courses3 .all__icons .grid__icons .grid__icons_inner {
    width: 22px;
    margin-left: 3px
}

.back__course__page_grid .shorting__courses3 .all__icons .grid__icons span {
    background: #3270FC;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin: 1px;
    float: left
}

.back__course__page_grid .shorting__courses3 .all__icons .list__icons {
    border-right: 2px solid #EFEFF0;
    margin-right: 5px;
    padding: 4px 10px
}

.back__course__page_grid .shorting__courses3 .all__icons .result-count {
    padding-right: 40px;
    color: #5c5c68;
    font-size: 15px;
    font-weight: 600
}

.back__course__page_grid .shorting__courses3 .from-control {
    background: #F2F4F9;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    color: #5c5c68;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    border-left: 15px solid #F2F4F9
}

.back__course__page_grid.back__course__page_grid_left {
    background: 0 0
}

.back__course__page_grid.back__course__page_grid_left .single-studies .inner-course {
    box-shadow: 0 1px 2px rgba(15, 18, 22, .1);
    border-radius: 6px
}

.back__course__page_grid.back__course__page_grid_left .back-pagination {
    justify-content: start
}

.back__course__page_grid.back__course__page_grid_left .back-pagination li a {
    border: 2px solid rgba(15, 18, 22, .1);
    box-shadow: none;
    line-height: 34px
}

.back__course__page_grid.back__course__page_grid_left .back-pagination li a:hover {
    border-color: #3270FC
}

.back__course__page_grid.back__course__page_grid_left .react-list .single-studies .inner-course {
    display: flex;
    background: #fff;
    box-shadow: 0 30px 30px rgba(15, 18, 22, .1);
    border-radius: 6px
}

.back__course__page_grid.back__course__page_grid_left .react-list .single-studies .inner-course .case-img {
    flex: 0 0 56%
}

.back__course__page_grid.back__course__page_grid_left .react-list .single-studies .inner-course .case-img img {
    border-radius: 0
}

.back__course__page_grid.back__course__page_grid_left .react-list .single-studies .inner-course .case-content {
    flex: 0 0 44%
}

/* #endregion */

/* #region course-single */

body.course-single .react-breadcrumbs .breadcrumbs-wrap .breadcrumbs-inner .breadcrumbs-text {
    text-align: left
}

body.course-single .react-breadcrumbs .breadcrumbs-wrap .breadcrumbs-inner .breadcrumbs-text .cate {
    background: #3270fc;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    border-radius: 4px;
    padding: 2px 10px 5px;
    line-height: 17px;
    margin-bottom: 12px
}

body.course-single .user-section {
    display: flex;
    align-items: center;
    padding-bottom: 50px
}

body.course-single .user-section li {
    padding-left: 40px;
    font-size: 16px;
    color: #fff;
    font-weight: 400
}

body.course-single .user-section li svg {
    width: 18px;
    position: relative;
    top: -2px;
    margin-left: 4px
}

body.course-single .user-section li.user {
    display: flex;
    align-items: center
}

body.course-single .user-section li.user span {
    padding-right: 12px
}

body.course-single .user-section li.user span img {
    width: 36px;
    border-radius: 50%
}

.react-courses__single-page .course-single-tab .nav.nav-tabs {
    padding: 0 0 1px;
    margin-top: 0;
    background: #F2F4F9;
    border-radius: 6px;
    margin-bottom: 50px;
    border: none
}

.react-courses__single-page .course-single-tab .nav.nav-tabs li a {
    border: none;
    color: #5B5F64;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    padding: 19px 25px;
    text-align: center;
    display: inline-block;
    margin: 10px 8px
}

.react-courses__single-page .course-single-tab .nav.nav-tabs li a.active, .react-courses__single-page .course-single-tab .nav.nav-tabs li a:hover {
    background: #fff;
    box-shadow: 0 6px 10px rgba(15, 18, 22, .1);
    border-radius: 6px;
    color: #0F1216
}

.react-courses__single-page .course-single-tab #back-tab-content h3 {
    font-size: 26px;
    color: #0F1216;
    font-weight: 600;
    margin: 0 0 20px
}

.react-courses__single-page .course-single-tab #back-tab-content p {
    font-size: 16px;
    color: #4b4b57
}

.react-courses__single-page .course-single-tab #back-tab-content .back-tag a {
    font-size: 16px;
    font-weight: 500;
    color: #737383
}

.react-courses__single-page .course-single-tab #back-tab-content .back-tag a:hover {
    color: #3270fc
}

.react-courses__single-page .course-single-tab #back-tab-content .back-tag svg {
    width: 18px;
    height: 18px;
    margin-right: 4px
}

.react-courses__single-page .course-single-tab #back-tab-content .back-objectives {
    background: #f7f7f8;
    overflow: hidden;
    padding: 40px;
    border-radius: 2px;
    margin-top: 50px;
    margin-bottom: 40px
}

.react-courses__single-page .course-single-tab #back-tab-content .back-objectives h3 {
    font-size: 20px;
    color: #00306e;
    font-weight: 800;
    margin: 0 0 20px
}

.react-courses__single-page .course-single-tab #back-tab-content .back-objectives li {
    float: left;
    width: 50%;
    font-size: 15px;
    font-weight: 600;
    color: #00306e;
    position: relative;
    padding-left: 42px;
    margin: 10px 0 17px;
    line-height: 1.3
}

.react-courses__single-page .course-single-tab #back-tab-content .back-objectives li:first-child {
    float: none;
    width: 100%;
    padding: 0
}

.react-courses__single-page .course-single-tab #back-tab-content .back-objectives li i {
    background: #3270fc;
    padding: 6px;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0
}

.react-courses__single-page .course-single-tab #back-tab-content .single-week {
    background: #f7f7f8;
    padding: 40px 40px 30px;
    border-radius: 6px;
    margin-bottom: 20px
}

.react-courses__single-page .course-single-tab #back-tab-content .single-week .week__top {
    display: flex;
    border-bottom: 1px solid rgba(2, 3, 52, .078);
    justify-content: space-between;
    font-size: 20px;
    font-weight: 800;
    padding-bottom: 10px;
    margin-bottom: 28px;
    color: #00306e
}

.react-courses__single-page .course-single-tab #back-tab-content .single-week .week__top li:last-child {
    color: #828287;
    font-weight: 700
}

.react-courses__single-page .course-single-tab #back-tab-content .single-week .course__title li {
    border-bottom: 1px solid rgba(2, 3, 52, .078);
    color: #4b4c57;
    padding: 12px 0;
    overflow: hidden
}

.react-courses__single-page .course-single-tab #back-tab-content .single-week .course__title li svg {
    width: 20px;
    height: 20px;
    margin-right: 7px;
    position: relative;
    top: -2px
}

.react-courses__single-page .course-single-tab #back-tab-content .single-week .course__title li em {
    font-style: normal;
    float: right
}

.react-courses__single-page .course-single-tab #back-tab-content .single-week .course__title li em svg {
    width: 17px;
    height: 17px;
    margin-right: 3px;
    position: relative;
    top: -2px
}

.react-courses__single-page .course-single-tab #back-tab-content .single-week .course__title li em.questions {
    background-color: rgba(248, 69, 45, .102);
    color: #f8452d;
    padding: 6px 10px;
    line-height: 1;
    border-radius: 6px;
    margin-left: 20px;
    font-weight: 500
}

.react-courses__single-page .course-single-tab #back-tab-content .single-week .course__title li b {
    font-weight: 700;
    color: #00306e
}

.react-courses__single-page .course-single-tab #back-tab-content .single-week .course__title li:last-child {
    border: none
}

.react-courses__single-page .course-single-tab #back-tab-content .skillbar-style2 {
    border: 1px solid rgba(0, 48, 110, .1);
    border-radius: 6px;
    padding: 40px
}

.react-courses__single-page .course-single-tab #back-tab-content .skillbar-style2 .skill_inners {
    display: flex;
    align-items: center;
    margin-bottom: 15px
}

.react-courses__single-page .course-single-tab #back-tab-content .skillbar-style2 .skill_inners span.skillbar-title {
    flex: 0 0 15%;
    color: #5B5F64;
    font-size: 14px
}

.react-courses__single-page .course-single-tab #back-tab-content .skillbar-style2 .skill_inners span {
    color: #5B5F64
}

.react-courses__single-page .course-single-tab #back-tab-content .skillbar-style2 .skillbars {
    position: relative;
    display: block;
    background: #E6E9F1;
    height: 10px;
    width: 100%;
    clear: both;
    margin: 0 20px 0 0;
    border-radius: 0
}

.react-courses__single-page .course-single-tab #back-tab-content .skillbar-style2 .skillbars .skillbar-bar {
    height: 10px;
    width: 0;
    background: #3270fc;
    display: block;
    margin: 0;
    position: relative;
    border-radius: 0
}

.react-courses__single-page .course-single-tab #back-tab-content .five__number {
    border: 1px solid rgba(0, 48, 110, .1);
    text-align: center;
    padding: 75px 50px;
    border-radius: 6px
}

.react-courses__single-page .course-single-tab #back-tab-content .five__number em {
    font-size: 50px;
    color: #0F1216;
    font-style: normal;
    line-height: 1.2;
    margin-bottom: 12px;
    font-weight: 700;
    display: block
}

.react-courses__single-page .course-single-tab #back-tab-content .five__number i {
    color: #ff9415;
    font-size: 14px
}

.react-courses__single-page .course-single-tab #back-tab-content .five__number h6 {
    color: #0F1216
}

.react-courses__single-page .course-single-tab #back-tab-content .post-author {
    display: flex;
    align-items: center;
    padding: 25px 40px 30px;
    overflow: hidden;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 48, 110, .1);
    border-radius: 6px
}

.react-courses__single-page .course-single-tab #back-tab-content .post-author .avatar {
    margin-left: 20px
}

.react-courses__single-page .course-single-tab #back-tab-content .post-author .avatar img {
    border-radius: 50%;
    width: 80px
}

.react-courses__single-page .course-single-tab #back-tab-content .post-author .info .back-ratings i {
    color: #ff9415;
    font-size: 14px
}

.react-courses__single-page .course-single-tab #back-tab-content .post-author .info .name {
    margin: 0;
    color: #0F1216;
    transition: all .5s ease 0s;
    font-size: 20px;
    font-weight: 600
}

.react-courses__single-page .course-single-tab #back-tab-content .post-author .info .name .designation {
    font-size: 16px;
    color: #5B5F64;
    margin: 0;
    font-weight: 400
}

.react-courses__single-page .course-single-tab #back-tab-content .post-author p {
    font-size: 16px;
    color: #4b4b57;
    margin: 0;
    line-height: 24px
}

.react-courses__single-page .course-single-tab #back-tab-content .post-author:hover .info .name {
    color: #3270fc
}

.react-courses__single-page .course-single-tab #back-tab-content .blog-form p {
    margin-top: -15px
}

.react-courses__single-page .course-single-tab #back-tab-content .blog-form form .back-ratings {
    padding-bottom: 25px;
    padding-top: 6px;
    line-height: 1
}

.react-courses__single-page .course-single-tab #back-tab-content .blog-form form .back-ratings i {
    font-size: 14px;
    color: #b8b9bf
}

.react-courses__single-page .course-single-tab #back-tab-content .blog-form form .back-ratings i:nth-child(1), .react-courses__single-page .course-single-tab #back-tab-content .blog-form form .back-ratings i:nth-child(2) {
    color: #ff9415
}

.react-courses__single-page .course-single-tab #back-tab-content .blog-form form input {
    width: 100%;
    height: 57px;
    padding: 10px 30px;
    background: #F2F4F9;
    outline: 0;
    border-radius: 6px;
    margin-bottom: 25px;
    border: 2px solid #F2F4F9
}

.react-courses__single-page .course-single-tab #back-tab-content .blog-form form input:focus {
    border: 2px solid #3270fc;
    background: 0 0
}

.react-courses__single-page .course-single-tab #back-tab-content .blog-form form textarea {
    width: 100%;
    height: 160px;
    padding: 22px 30px;
    background: #F2F4F9;
    outline: 0;
    border-radius: 6px;
    margin-bottom: 5px;
    position: relative;
    border: 2px solid #F2F4F9
}

.react-courses__single-page .course-single-tab #back-tab-content .blog-form form textarea:focus {
    border: 2px solid #3270fc;
    background: 0 0
}

.react-courses__single-page .course-single-tab #back-tab-content .blog-form form button {
    background: #3270FC;
    font-size: 16px;
    color: #fff;
    border-radius: 6px;
    padding: 14px 30px;
    display: inline-block;
    font-weight: 600;
    transition: all .5s ease 0s;
    border: none;
    outline: 0;
    box-shadow: none;
    cursor: pointer;
    margin-top: 25px
}

.react-courses__single-page .course-single-tab #back-tab-content .blog-form form button svg {
    width: 18px
}

.react-courses__single-page .course-single-tab #back-tab-content .blog-form form button:hover {
    color: #fff;
    background: #00306e
}

.react-courses__single-page .course-single-tab #back-tab-content .blog-form form .back-check-box {
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #55575c;
    font-size: 16px
}

.react-courses__single-page .course-single-tab #back-tab-content .blog-form form .back-check-box a {
    color: #1a152e
}

.react-courses__single-page .course-single-tab #back-tab-content .blog-form form .back-check-box a:hover {
    color: #74727d
}

.react-courses__single-page .course-single-tab #back-tab-content .blog-form form .back-check-box input {
    margin: 0 8px 0 0;
    height: 16px;
    width: 16px
}

.react-courses__single-page .course-single-tab #back-tab-content .blog-form form ::-webkit-input-placeholder {
    color: #7b7d82;
    opacity: 1;
    font-size: 16px
}

.react-courses__single-page .course-single-tab #back-tab-content .blog-form form ::-moz-placeholder {
    color: #7b7d82;
    opacity: 1;
    font-size: 16px
}

.react-courses__single-page .course-single-tab #back-tab-content .blog-form form :-ms-input-placeholder {
    color: #7b7d82;
    opacity: 1;
    font-size: 16px
}

.react-courses__single-page .course-single-tab #back-tab-content .blog-form form :-moz-placeholder {
    color: #7b7d82;
    opacity: 1;
    font-size: 16px
}

.react-courses__single-page .course-single-tab #back-tab-content .social-links h4 {
    font-size: 16px;
    font-weight: 800;
    margin: 0 0 26px
}

.react-courses__single-page .course-single-tab #back-tab-content .social-links li a {
    border-radius: 6px
}

.react-courses__single-page .course-single-tab #back-tab-content .social-links li:first-child {
    float: none;
    width: 100%;
    padding: 0;
    display: block
}

/* #endregion */

/* #region react-breadcrumbs */

.react-breadcrumbs .breadcrumbs-wrap {
    position: relative;
    overflow: hidden
}

.react-breadcrumbs .breadcrumbs-wrap .container {
    position: relative
}

.react-breadcrumbs .breadcrumbs-wrap .breadcrumbs-inner {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.react-breadcrumbs .breadcrumbs-wrap .breadcrumbs-inner .breadcrumbs-text {
    text-align: center !important
}

.react-breadcrumbs .breadcrumbs-wrap .breadcrumbs-inner .breadcrumbs-text.blog-single {
    text-align: right !important
}

.react-breadcrumbs .breadcrumbs-wrap .breadcrumbs-inner .breadcrumbs-text .breadcrumbs-title {
    width: 100%;
    font-size: 60px;
    text-transform: capitalize;
    color: #fff;
    font-weight: 700;
    line-height: 1;
    margin: 0 0 15px;
    text-align: center
}

.react-breadcrumbs .breadcrumbs-wrap .breadcrumbs-inner .breadcrumbs-text .breadcrumbs-title.title {
    text-align: right
}

.react-breadcrumbs .breadcrumbs-wrap .breadcrumbs-inner .breadcrumbs-text .back-nav ul li {
    display: inline;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    opacity: .8
}

.react-breadcrumbs .breadcrumbs-wrap .breadcrumbs-inner .breadcrumbs-text .back-nav ul li a {
    color: #fff
}

.react-breadcrumbs .breadcrumbs-wrap .breadcrumbs-inner .breadcrumbs-text .back-nav ul li a:hover {
    opacity: .7
}

.react-breadcrumbs .breadcrumbs-wrap .breadcrumbs-inner .breadcrumbs-text .back-nav ul li:after {
    content: "";
    margin: 0 6px 0 12px;
    background: #fff;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    display: inline-block
}

.react-breadcrumbs .breadcrumbs-wrap .breadcrumbs-inner .breadcrumbs-text .back-nav ul li:last-child:after {
    content: unset;
    margin: 0
}

.react-breadcrumbs.react-breadcrumbs-single .container {
    max-width: 1200px
}

.react-breadcrumbs.react-breadcrumbs-single .container .single-cate {
    background: #fff;
    color: #00306e;
    display: inline-block;
    padding: 4px 18px;
    border-radius: 30px;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 20px
}

.react-breadcrumbs.react-breadcrumbs-single .react-breadcrumbs .breadcrumbs-wrap .breadcrumbs-inner {
    top: 61%
}

.react-breadcrumbs.react-breadcrumbs-single .breadcrumbs-wrap .breadcrumbs-inner .breadcrumbs-text {
    text-align: left
}

.react-breadcrumbs.react-breadcrumbs-blog-single .container {
    max-width: 1200px
}

.react-breadcrumbs.react-breadcrumbs-blog-single .breadcrumbs-wrap .breadcrumbs-inner .breadcrumbs-text {
    text-align: left
}

.react-breadcrumbs.react-breadcrumbs-blog-single .breadcrumbs-wrap .breadcrumbs-inner .breadcrumbs-text span {
    font-size: 16px;
    color: #fff;
    margin-bottom: 15px;
    display: block
}

.react-breadcrumbs.react-breadcrumbs-blog-single .breadcrumbs-wrap .breadcrumbs-inner .breadcrumbs-text .back-nav ul li {
    font-size: 14px;
    color: #fff;
    margin-right: 30px;
    opacity: 1
}

.react-breadcrumbs.react-breadcrumbs-blog-single .breadcrumbs-wrap .breadcrumbs-inner .breadcrumbs-text .back-nav ul li svg {
    width: 17px;
    height: 17px;
    margin-right: 4px;
    position: relative;
    top: -2px
}

.react-breadcrumbs.react-breadcrumbs-blog-single .breadcrumbs-wrap .breadcrumbs-inner .breadcrumbs-text .back-nav ul li:after {
    display: none
}
/* #endregion */

/* #region react-sidebar */


.react-sidebar {
    background: #fff;
    box-shadow: 0 20px 40px rgba(15, 18, 22, .08);
    border-radius: 6px
}

.react-sidebar.react-back-course2 {
    box-shadow: none
}

.react-sidebar .widget {
    padding: 35px;
    border-bottom: 1px solid #E8ECF0
}

.react-sidebar .widget.back-post .widget-title {
    margin-top: -10px
}

.react-sidebar .widget.back-category {
    padding: 30px 35px
}

.react-sidebar .widget.related__courses {
    background: #fff;
    box-shadow: 0 30px 50px 0 rgba(1, 11, 60, .1);
    margin-top: 22px
}

.react-sidebar .widget.react-categories-course {
    box-shadow: 0 30px 50px 0 rgba(1, 11, 60, .1);
    background: #fff;
    border-radius: 6px
}

.react-sidebar .widget.react-categories-course ul li a {
    font-size: 16px;
    color: #5B5F64;
    font-weight: 400;
    line-height: 32px;
    display: block
}

.react-sidebar .widget.react-categories-course ul li a:hover {
    color: #3270FC
}

.react-sidebar .widget.get-back-course {
    box-shadow: 0 30px 50px 0 rgba(1, 11, 60, .1);
    background: #fff;
    margin-bottom: 10px;
    border-radius: 6px;
    padding: 0
}

.react-sidebar .widget.get-back-course .price {
    display: flex;
    align-items: center;
    padding: 25px 40px;
    border-bottom: 1px solid #E8ECF0
}

.react-sidebar .widget.get-back-course .price li {
    font-size: 30px;
    font-weight: 700;
    color: #3270FC;
    line-height: 1
}

.react-sidebar .widget.get-back-course .price li:nth-child(2) {
    font-size: 16px;
    font-weight: 600;
    text-decoration: line-through;
    margin-left: 9px;
    color: #9DA1A6
}

.react-sidebar .widget.get-back-course .price li:nth-child(3) {
    font-size: 13px;
    color: #D2093C;
    background: rgba(210, 9, 60, .06);
    border-radius: 4px;
    margin-left: 10px;
    padding: 5px 6px;
    font-weight: 600
}

.react-sidebar .widget.get-back-course .start-btn {
    border-radius: 6px;
    width: auto;
    text-align: center;
    background: #3270FC;
    color: #fff;
    padding: 11px 25px;
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin: 30px 35px 25px
}

.react-sidebar .widget.get-back-course .start-btn svg {
    width: 18px;
    transform: rotate(180deg)
}

.react-sidebar .widget.get-back-course .start-btn:hover {
    opacity: .9
}

.react-sidebar .widget.get-back-course .share-course {
    color: #0F1216;
    font-size: 16px;
    font-weight: 600;
    display: block;
    text-align: center;
    padding-bottom: 30px;
    position: relative
}

.react-sidebar .widget.get-back-course .share-course em {
    width: 45px;
    color: #3270FC;
    border: 2px solid rgba(15, 18, 22, .1);
    border-radius: 50%;
    padding: 1px 13px;
    display: inline-block;
    height: 45px;
    line-height: 37px;
    margin-right: 8px
}

.react-sidebar .widget.get-back-course .share-course em svg {
    width: 18px;
    position: relative;
    right: 2px
}

.react-sidebar .widget.get-back-course .share-course span {
    position: absolute;
    background: #000;
    padding: 7px 18px;
    border-radius: 4px;
    width: 133px;
    left: 190px;
    top: 0;
    opacity: 0;
    transition: all .5s ease
}

.react-sidebar .widget.get-back-course .share-course span:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #000;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%)
}

.react-sidebar .widget.get-back-course .share-course span a {
    padding: 0 7px;
    color: #fff;
    opacity: .6
}

.react-sidebar .widget.get-back-course .share-course span a:hover {
    opacity: 1
}

.react-sidebar .widget.get-back-course .share-course:hover em {
    background: #3270FC;
    color: #fff
}

.react-sidebar .widget.get-back-course .share-course:hover span {
    opacity: 1;
    top: -55px
}

.react-sidebar .widget.get-back-course .price__course {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px
}

.react-sidebar .widget.get-back-course .price__course li {
    padding: 10px 0;
    box-shadow: 0 1px 0 #E8ECF0;
    color: #0F1216
}

.react-sidebar .widget.get-back-course .price__course li i {
    position: relative;
    color: #0F1216;
    display: inline-block;
    margin-left: 10px;
    font-size: 14px
}

.react-sidebar .widget.get-back-course .price__course li b {
    font-size: 16px;
    font-weight: 400;
    color: #5B5F64;
    float: left;
    clear: right
}

.react-sidebar .widget.get-back-course .price__course li b.prs {
    font-size: 30px;
    color: #3270FC;
    font-weight: 700;
    line-height: 26px
}

.react-sidebar .widget.get-back-course .price__course li:last-child {
    border: none
}

.react-sidebar .widget.back-rating ul.recent-category input[type=checkbox]+label::before {
    border-radius: 50%;
    margin-right: 10px;
    top: 0
}

.react-sidebar .widget.back-rating em {
    font-style: normal;
    display: inline-block;
    margin-left: 6px
}

.react-sidebar .widget.back-rating i {
    color: #FFA439;
    font-size: 14px
}

.react-sidebar .widget.back-price ul.recent-category input[type=checkbox]+label::before {
    border-radius: 50%;
    margin-right: 10px;
    top: 0
}

.react-sidebar .widget.react-date-sec {
    box-shadow: 0 30px 50px 0 rgba(1, 11, 60, .1);
    background: #fff;
    margin-bottom: 10px;
    border-radius: 6px
}

.react-sidebar .widget.react-date-sec ul li {
    font-size: 16px;
    color: #0F1216;
    font-weight: 600;
    margin-bottom: 20px
}

.react-sidebar .widget.react-date-sec ul li b {
    color: #5B5F64;
    font-weight: 400;
    font-size: 16px;
    display: block
}

.react-sidebar .widget.react-date-sec ul li:last-child {
    margin-bottom: 0
}

.react-sidebar ul.recent-category {
    margin: -8px 0 0;
    padding: 0;
    list-style: none
}

.react-sidebar ul.recent-category li {
    margin: 8px 0
}

.react-sidebar ul.recent-category input[type=checkbox]+label {
    cursor: pointer
}

.react-sidebar ul.recent-category input[type=checkbox] {
    display: none
}

.react-sidebar ul.recent-category label {
    color: #5B5F64;
    font-size: 16px;
    font-weight: 400
}

.react-sidebar ul.recent-category input[type=checkbox]+label:before {
    content: "\2714";
    border: .1em solid #d9d8d8;
    border-radius: 4px;
    display: inline-block;
    width: 23px;
    height: 23px;
    line-height: 11px;
    margin-left: 12px;
    vertical-align: middle;
    color: transparent;
    transition: .2s;
    background: #fff;
    padding: 5px 6px;
    font-size: 13px;
    position: relative;
    top: -2px
}

.react-sidebar ul.recent-category input[type=checkbox]+label:active:before {
    transform: scale(0)
}

.react-sidebar ul.recent-category input[type=checkbox]:checked+label:before {
    background-color: #3270FC;
    border-color: #3270FC;
    color: #fff
}

.react-sidebar ul.recent-category input[type=checkbox]:disabled+label:before {
    transform: scale(1);
    border-color: #eee
}

.react-sidebar ul.related-courses {
    margin: 0;
    padding: 0;
    list-style: none
}

.react-sidebar ul.related-courses li {
    display: flex;
    align-items: center;
    padding-bottom: 1.2em
}

.react-sidebar ul.related-courses li .back-ratings i {
    font-size: 10px;
    color: #ff9415
}

.react-sidebar ul.related-courses li .post-images {
    width: 87px;
    display: block
}

.react-sidebar ul.related-courses li .post-images img {
    display: block;
    width: 127px;
    border-radius: 6px
}

.react-sidebar ul.related-courses li .titles {
    display: block;
    padding-right: 20px
}

.react-sidebar ul.related-courses li .titles h4 {
    margin: 0 0 6px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px
}

.react-sidebar ul.related-courses li .titles h4 a {
    color: #0F1216
}

.react-sidebar ul.related-courses li .titles h4:hover a {
    color: #3270FC
}

.react-sidebar ul.related-courses li .titles span {
    font-weight: 600;
    color: #0F1216
}

.react-sidebar ul.related-courses li:last-child {
    padding-bottom: 0
}

.react-sidebar ul.recent-posts {
    margin: 0;
    padding: 0;
    list-style: none
}

.react-sidebar ul.recent-posts li {
    display: flex;
    align-items: center;
    padding-bottom: 1.2em
}

.react-sidebar ul.recent-posts li .back-ratings i {
    font-size: 10px;
    color: #ff9415
}

.react-sidebar ul.recent-posts li .post-images {
    width: 87px;
    display: block
}

.react-sidebar ul.recent-posts li .post-images img {
    display: block;
    width: 127px;
    border-radius: 6px
}

.react-sidebar ul.recent-posts li .titles {
    display: block;
    padding-left: 20px
}

.react-sidebar ul.recent-posts li .titles h4 {
    margin: 0 0 6px;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px
}

.react-sidebar ul.recent-posts li .titles h4 a {
    color: #00306e
}

.react-sidebar ul.recent-posts li .titles h4:hover a {
    color: #3270fc
}

.react-sidebar ul.recent-posts li .titles span {
    font-weight: 600;
    color: #737383
}

.react-sidebar ul.recent-posts li:last-child {
    padding-bottom: 0
}

.react-sidebar h3.widget-title {
    margin: 0;
    font-size: 20px;
    padding-bottom: 1.1em;
    color: #0F1216;
    font-weight: 600;
    line-height: 1.2
}

.react-sidebar form {
    position: relative
}

.react-sidebar form input {
    width: 100%;
    padding: 12px 80px 12px 28px;
    background: #eef1f5;
    outline: 0;
    border-radius: 6px;
    border: none
}

.react-sidebar form button {
    background: 0 0;
    color: #fff;
    display: inline-block;
    padding: 4px 23px;
    border-radius: 0 3px 3px 0;
    font-size: 16px;
    border: none;
    outline: 0;
    cursor: pointer;
    margin-top: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .5s ease
}

.react-sidebar form button svg {
    color: #333;
    position: relative;
    top: 6px
}

.react-sidebar form button svg:hover {
    color: #3270fc
}

.react-sidebar form button:hover {
    opacity: .9
}
/* #endregion */

/* #region react-course-filter */
.react-course-filter {
    background: #F5F5F5
}

.react-course-filter.related__course {
    background: 0 0;
    padding-top: 90px
}

.react-course-filter.related__course h3 {
    font-weight: 700;
    color: #0F1216;
    font-size: 20px;
    padding-bottom: 10px
}

.react-course-filter.related__course .single-studies .inner-course {
    box-shadow: 0 1px 2px rgba(15, 18, 22, .1);
    border-radius: 6px;
    background: #fff
}

.react-course-filter .react-filter {
    padding-bottom: 65px
}

.react-course-filter .react-filter button {
    border: none;
    margin: 0 15px 0 0;
    color: #5B5F64;
    padding: 4px 30px 6px;
    border-radius: 6px;
    font-weight: 400;
    transition: all .5s ease 0s;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 14, 32, .1)
}

.react-course-filter .react-filter button.active, .react-course-filter .react-filter button:hover {
    background: #3270FC;
    color: #fff
}

.react-course-filter .react__title__section h2 {
    font-size: 44px;
    line-height: 56px;
    color: #0F1216
}

.react-course-filter .react__title__section h6 {
    font-size: 18px;
    color: #5B5F64;
    line-height: 22px;
    font-weight: 400;
    margin-top: 15px;
    display: block
}

.react-course-filter .single-studies {
    margin-bottom: 25px
}

.react-course-filter .single-studies .inner-course {
    background: #fff;
    border-radius: 10px
}

.react-course-filter .single-studies .inner-course .case-img {
    position: relative
}

.react-course-filter .single-studies .inner-course .case-img a {
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
    background: #3270fc;
    display: inline-block;
    padding: 4px 9px 7px;
    color: #fff;
    border-radius: 4px;
    position: absolute;
    left: 22px;
    top: 20px
}

.react-course-filter .single-studies .inner-course .case-content {
    padding: 30px 38px 20px 35px
}

.react-course-filter .single-studies .inner-course .case-content .case-title {
    margin: 6px 0 30px;
    font-size: 20px;
    font-weight: 600
}

.react-course-filter .single-studies .inner-course .case-content .case-title a {
    color: #0F1216
}

.react-course-filter .single-studies .inner-course .case-content .case-title a:hover {
    color: #3270FC
}

.react-course-filter .single-studies .inner-course .case-content .react__user {
    font-size: 16px;
    color: #5B5F64;
    font-weight: 400
}

.react-course-filter .single-studies .inner-course .case-content .react__user img {
    margin-left: 12px;
    height: 30px
}

.react-course-filter .single-studies .inner-course .case-content .react-ratings {
    border-top: 1px solid #eee;
    margin-top: 40px;
    padding-top: 14px;
    justify-content: space-between
}

.react-course-filter .single-studies .inner-course .case-content .react-ratings li:last-child {
    padding-right: 0
}

.react-course-filter .single-studies .inner-course .case-content .react-ratings li.price {
    color: #0F1216;
    font-size: 20px;
    font-weight: 600
}

.react-course-filter .single-studies .inner-course .case-content ul {
    display: flex
}

.react-course-filter .single-studies .inner-course .case-content ul li {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #5B5F64;
    font-weight: 400;
    padding-left: 30px
}

.react-course-filter .single-studies .inner-course .case-content ul li svg {
    margin-left: 10px;
    width: 20px
}

.react-course-filter .single-studies .inner-course .case-content ul li svg.feather-star {
    color: #FFA439
}
/* #endregion */

