
/* #region Shape Abd */

.react__shape__abd {
    position: absolute;
    left: 71%;
    top: 45%
}

.react__shape__ab {
    position: absolute;
    left: 54.4%;
    top: 28%;
    -webkit-animation: slide-top 5000ms linear infinite alternate;
    animation: slide-top 5000ms linear infinite alternate
}

.react__shape__abc {
    position: absolute;
    right: 39%;
    top: 80%;
    -webkit-animation: slide-top 5000ms linear infinite alternate;
    animation: slide-top 5000ms linear infinite alternate
}
@keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    100% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px)
    }
}

/* #endregion */

/* #region about__area */

.about__area .about__image {
    position: relative;
}
.about__area h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 54px
}

.about__area h2 em {
    color: #D2093C;
    font-style: normal
}

.about__area.about__area_one .about__content {
    padding-top: 60px;
    padding-right: 60px
}

.about__area.about__area_one .about__paragraph {
    font-size: 20px;
    color: #777;
    line-height: 30px
}

.about__area.about__area_one p.about__paragraph2 {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 44px;
    margin-bottom: 38px
}

.about__area.about__area_one p {
    font-size: 16px;
    line-height: 26px;
    color: #777
}

.about__area.about__area_one p a {
    color: #D2093C;
    text-decoration: underline !important;
    font-weight: 700
}

.about__area.about__area_one p a svg {
    width: 18px
}

.about__area.about__area_one p a:hover {
    opacity: .9
}

.about__area.about__area_one ul {
    display: flex;
    margin-top: 40px
}

.about__area.about__area_one ul li .more-about {
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
    border: 2px solid rgba(0, 48, 110, .1);
    padding: 14px 35px;
    color: #00306E;
    display: inline-block;
    line-height: 20px
}

.about__area.about__area_one ul li .more-about svg {
    width: 18px;
    rotate: 180deg
}

.about__area.about__area_one ul li .more-about:hover {
    background: #D2093C;
    color: #fff;
    border-color: #D2093C
}

.about__area.about__area_one ul li.last-li {
    background: url("./../../../public/assets/images/about/comment.png") right top no-repeat;
    padding-right: 72px;
    margin-right: 30px
}

.about__area.about__area_one ul li.last-li em {
    display: block;
    font-size: 14px;
    color: #999;
    line-height: 15px;
    margin-top: 5px;
    font-style: normal
}

.about__area.about__area_one ul li.last-li a {
    font-size: 18px;
    color: #00306e;
    font-weight: 700
}

.about__area.about__area_one ul li.last-li a:hover {
    color: #D2093C
}

/* #endregion */
